nav {
    background-color: #2E86C1;
    color: #fff;
    font-size: 30px;
    text-align: center;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline-block;
    margin: 0 15px;
}
nav a {
    color: #f5f1f1;
    text-decoration: none;
}
body{
    background-image: url(../public/imagenes/fondo\ pizarra.jpg);
    background-repeat: no-repeat;
}
menu{
    height: 15px;
}
.titulo {
    text-align: center;
    color:rgb(243, 41, 41);
}
.contenedor {
	display: flex;
	flex-direction: column;
	height: 80vh;
  }
  
  .contenedor > div {
	flex: 1;
	display: flex;
  }
  
  .cuadrante1 {
    
	flex: 1;
	
  }
  
  .cuadrante2 {
	flex: 1;
	
  }
  
  .cuadrante3 {
	flex: 1;

  }
  
  .cuadrante4 {
	flex: 1;
    }

 .titulocuadrantes{
  text-align: center;
  color: red;
 }

 .parrafoscuadrantes{
  color: white;
  font-size: 20px;
  margin: 5%;
}

#definicion{
  margin: 5%;
  
  font-size: 40px;
}

#txtfunda{
  margin: 5%;
  font-size: 20px;
  color: antiquewhite;
  text-align: left;
}
 #imgfunda{
  text-align: center;
  
 }
 #Temario{
  text-align: center;
  font-size: x-large;
  color:lime;
 }
 #clasificacion{
  border: 50%;
  text-align: left;
  font-size: 15px;
  
  }
  #ttemas{
    color: orange;
  }
 .temas{
  color: yellow;
  
}
 

 #imagen1{
  margin-left: 300px;
 }
 #definicion{
  color: black;
 }
 #contactar{
  color:white;
  font-size: large;
 }
  .otrasweb{
    color: rgb(0, 255, 64);
    font-size: large;
  }
 

 
  #contacto {
    width: 60%;
    margin: 0 auto;
    padding: 50px;
    border: 10px solid #ccc;
    background-color: #f0f0f0;
  }

  
  #contacto h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
  }

  
  #contacto div {
    margin: 10px;
  }

  #contacto label {
    display: block;
    font-size: 16px;
    color: #333;
  }

  #contacto input, #contacto textarea {
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ccc;
  }

  #contacto input:focus, #contacto textarea:focus {
    outline: none;
    border-color: #333;
  }


  #contacto button {
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border: none;
    background-color: green;
    color: white;
    cursor: pointer;
  }

  #contacto button:hover {
    background-color: #444;
  }
  #presentacion {
    margin: 5%;
    text-align: left;
    font-size: medium;
    color: white;
  }
  .seccion{
    color: burlywood;
  }
  #educacion{
    margin: 5%;
    text-align: left;
    font-size: medium;
    color: white;
  }
  #curriculum{
    margin: 5%;
    text-align: left;
    font-size: medium;
    color: white;
  }
  .red{
    text-align: center;
    font-size: 20px;
  }
    #letrared{
      color: whitesmoke;

    }
